<h1>Log In</h1>

<form action="<%=session_url%>" method="post">

<label for="username">Username:
    <input type="text" name="user[user_name]" id="username" value="">
</label>

<label for="password">Password:
    <input type="password" name="user[password]" id="password" value="">
</label>


<input type="submit" value="Log In">

</form>