<h1>Sign Up</h1>



<form action="<%= users_url %>" method="post">


  <label for="user_name">Username
    <input type="text" name="user[name]" id="user_name" value="">
  </label>

<br>

  <label for="password">Password:
    <input type="password" name="user[password]" id="password" value="">
  </label>

<br>

<input type="submit" value="Sign Up"> 
</form>